@{
    ViewData["Title"] = "Home Page";
}
@model Swanson

<fieldset class="col-10 mx-auto mt-5 border border-dark">
    <legend class="text-center">SWANSONDACHI</legend>
    <div class="row col-10 mx-auto">
        <h6 class="col-3 text-center">Fullness: @Model.Fullness</h6>
        <h6 class="col-3 text-center">Happiness: @Model.Happiness</h6>
        <h6 class="col-3 text-center">Energy: @Model.Energy</h6>
        <h6 class="col-3 text-center">Meals: @Model.Meals</h6>
    </div>
    
    <img src="~/img/@Model.ImgUrl" alt="Ron Swanson" id="hero">
    <p class="text-center">@ViewBag.Message</p>
    <div class="row col-10 mx-auto my-5">
        <a href="/play" class="col-2 mx-auto text-center btn btn-warning btn-outline-dark">Play</a>
        <a href="/feed" class="col-2 mx-auto text-center btn btn-warning btn-outline-dark">Feed</a>
        <a href="/sleep" class="col-2 mx-auto text-center btn btn-warning btn-outline-dark">Sleep</a>
        <a href="/work" class="col-2 mx-auto text-center btn btn-warning btn-outline-dark">Work</a>
    </div>
</fieldset>